body {
	background: url(background3.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*-moz-border-image: url(background3.png) 0;*/
}

.header {
	padding-top: 100px;
	/*position: relative;*/
	position: relative;
	height: 100%;
	width: 100%;
}

.header-name {
	color: white;
	font-size: 75px;
	text-align: center; 
	font-family: 'Poiret One', cursive;

}

.header-sub {
	color: white;
	font-size: 27px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.downbutton {
	position: absolute; 
	bottom: 0;
	right: 5%;
	border: none;
	border-radius: 5px;
	padding-right: 10px;
}

.white {
	color: #fff;
	font-size: 70px;
}

.white:hover {
	transition-delay: .1s; /* delays for 1 second */
	-webkit-transition-delay: .1s; /* for Safari & Chrome */
	color: #34495e;
}

.page {
	width: 100%;
	position: relative;
	padding-top: 10px;
	padding-bottom: 50px;
}

.profile {
	background-color: White;
}

.experiences {
	background-color: #FFE4E1;
}

.skills {
	background-color: White;
}

.projects {
	background-color: #FFE4E1;
}

.contact {
	background-color: White;
}

.page-header {
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	/*font-family: 'Poiret One', cursive;*/
	font-size: 45px;
	font-weight: 300;
	/*font-weight: bold;*/
	border: none;
	color: #660000;
}

.profile-pic-container {
	padding-right: 10%;
	padding-left: 10%;
	float: right;
}

.profile-pic {
	border-radius: 25px;
	/*border: 5px solid LightPink;*/
	width: 400px;
	height: auto;
}

.profile-descr {
	padding-left: 10%;
	padding-right: 10%;
	/*font-family: 'Cinzel', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.exp {
	text-align: center;
}

.logo {
	height: 125px;
	margin-bottom: 15px;
/*	border: 1px solid black;
*/}

.company-name {
	font-family: 'Source Sans Pro', sans-serif;
	/*font-weight: bold;*/
	font-size: 25px;
}

.company-date {
	font-family: 'Alegreya Sans', sans-serif;
	color: #34495e;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 5px;
}

.company-descr {
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.skill-col {
	padding-left: 21%;
	font-family: 'Alegreya Sans', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	font-weight: 300;
	font-size: 20px;
	/*text-align: center;*/
}

.project {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.blurb {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}

